name: Create tag

on:
  workflow_call:
    secrets:
      token:
        required: true

jobs:
  automatic-tag:
    runs-on: ${{ vars.RUNNER }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.token }}

      - name: Set up Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Check commit message for version
        id: check_version
        run: |
          # Get the latest commit message
          commit_message=$(git log -1 --pretty=%B)

          echo "Latest commit message: '$commit_message'"

          # Extract the version from the commit message (format: "release: x.y.z" or "release-x.y.z")
          if [[ "$commit_message" =~ release[-:]\s* ]]; then
            
            # Extract everything after "release:" or "release-"
            new_version="${commit_message##*release[-:]}"
            # Remove pull request references like (#123)
            new_version=$(echo "$new_version" | sed -r 's/\(#[0-9]+\)//g')
            # Take only the first line of the extracted version
            new_version=$(echo "$new_version" | head -n 1)
            # Remove leading and trailing whitespace
            new_version=$(echo "$new_version" | sed -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')

            echo "Processed version string: '$new_version'"

            if [[ "$new_version" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
              echo "Version extracted: $new_version"
              echo "version=$new_version" >> $GITHUB_OUTPUT
            else
              echo "Invalid version number format. Expected x.y.z, got '${new_version}'"
            fi
          else
            echo "Commit message does not contain a valid version (release: x.y.z or release-x.y.z)."
          fi

          if [ -z "$new_version" ]; then
            exit 1
          fi

      - name: Create Git tag based on version string
        if: steps.check_version.outputs.version != ''
        run: |
          # Create the git tag
          git tag "v${{ steps.check_version.outputs.version }}"

          # Push the tag to the repository
          git push origin "v${{ steps.check_version.outputs.version }}"
